name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --profile ci

      - name: Install UPX
        run: choco install upx

      - name: Compress with UPX
        run: upx --best --lzma target/ci/evbunpack.exe

      - name: Rename
        run: mv target/ci/evbunpack.exe target/ci/evbunpack-windows-x86_64.exe

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: target/ci/evbunpack-windows-x86_64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
